.ksd-column-container
	.block-editor-block-list__layout:not(.wp-block-ksd-column) {
	display: grid;
	max-width: calc(100% - 5rem);
	margin-inline: auto;
	margin-bottom: 3em;
}

.ksd-column-container.has-columns-1
	.block-editor-block-list__layout:not(.wp-block-ksd-column) {
	grid-template-columns: repeat(1, 1fr);
}

.ksd-column-container.has-columns-2
	.block-editor-block-list__layout:not(.wp-block-ksd-column) {
	grid-template-columns: repeat(2, 1fr);
}

.ksd-column-container.has-columns-3
	.block-editor-block-list__layout:not(.wp-block-ksd-column) {
	grid-template-columns: repeat(3, 1fr);
}

.ksd-column-container.has-columns-4
	.block-editor-block-list__layout:not(.wp-block-ksd-column) {
	grid-template-columns: repeat(4, 1fr);
}

.ksd-column-container.has-columns-5
	.block-editor-block-list__layout:not(.wp-block-ksd-column) {
	grid-template-columns: repeat(5, 1fr);
}

.ksd-column-container.has-columns-6
	.block-editor-block-list__layout:not(.wp-block-ksd-column) {
	grid-template-columns: repeat(6, 1fr);
}

/* Default style overrides for wrapper */
:is(.has-columns-1, .has-columns-2, .has-columns-3, .has-columns-4, .has-columns-5, .has-columns-6).ksd-column-container[data-type="ksd/column-container"],
.ksd-column-container > .block-editor-block-list__block.ksd-column-container {
	grid-template-columns: initial;
}
