/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 General
2.0 Columns
3.0 Card
4.0 Modifiers
--------------------------------------------------------------*/

/*--------------------------------------------------------------
  1.0 General
--------------------------------------------------------------*/

:where(.ksd-section .hero__heading),
:where(.ksd-section .section__heading) {
	margin-top: 0;
	margin-bottom: var(--spacing-xs);
}

:where(.ksd-section p) {
	margin-top: 0;
	margin-bottom: var(--spacing-xs);
}

/*--------------------------------------------------------------
  2.0 Columns
--------------------------------------------------------------*/

:where(.ksd-section.has-columns) {
	position: relative;

	display: grid;
	grid-template-columns: 1fr;
	gap: var(--spacing-s);

	width: calc(100% - var(--spacing-s));
	max-width: var(--viewport-max);

	margin-inline: auto;
}

@media (min-width: 1000px) {
	:where(.ksd-section.has-columns) {
		grid-template-columns: 1fr 1fr;
		width: calc(100% - var(--spacing-l));
	}
}

/*--------------------------------------------------------------
  3.0 Card
--------------------------------------------------------------*/

:where(.ksd-section.has-card > *) {
	align-self: center; /* IE support */
}

:where(.ksd-section.has-card .hero__card),
:where(.ksd-section.has-card .section__card) {
	grid-area: 1 / 1;
	justify-self: center;

	background-color: var(--clr-background);

	padding: var(--spacing-s);

	width: calc(100% - var(--spacing-s));
	max-width: clamp(30rem, calc(28rem + 10vw), 40rem);

	border-radius: 5em;

	z-index: 2;
}

:where(.ksd-section.has-card .hero__background-image),
:where(.ksd-section.has-card .section__background-image) {
	grid-area: 1 / 1;
	justify-self: center;
	max-width: 100%;
	height: 700px;

	object-position: center center;
	object-fit: cover;
	overflow: hidden;
}

/*--------------------------------------------------------------
  4.0 Modifiers
--------------------------------------------------------------*/

.ksd-section.has-card .is-transparent {
	background-color: transparent;
}

.ksd-section.has-card .is-full-width {
	width: 100%;
}

.ksd-section.has-card .has-shadow {
	box-shadow: var(--shadow);
}

@media (min-width: 800px) {
	/* Reverse column order */
	.ksd-section.ksd-section.has-columns.is-reversed div:first-child {
		grid-area: 1 / 2;
	}

	.ksd-section.ksd-section.has-columns.is-reversed div:last-child {
		grid-area: 1 / 1;
	}

	.ksd-section.has-card .hero__background-image:not(.is-full-width),
	.ksd-section.has-card .section__background-image:not(.is-full-width) {
		margin: 2rem 10rem;
		justify-self: end;
	}

	.ksd-section.has-card .is-left {
		justify-self: start;
		position: relative;
		left: var(--spacing-l);
	}

	.ksd-section.has-card .is-center {
		justify-self: center;
		text-align: center;
	}

	.ksd-section.has-card .is-right {
		justify-self: end;
		position: relative;
		right: var(--spacing-l);
	}

	.ksd-section.has-card .is-center .btn-wrapper {
		justify-content: center;
	}
}
